body {
    background-color: #f4f6f7;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.cv-container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.box-kiri {
    width: 30%;
    background-color: #c5d36b;
    padding: 20px;
    text-align: center;
}

.box-kanan {
    width: 70%;
    padding: 30px;
}

.skills {
  margin-top: 20px;
}

.skills-box {
  display: flex;
  justify-content: space-between;
}

.skills-box div {
  width: 45%; 
}

.skills h2, .skills h3 {
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.skills ul {
  list-style-type: disc;
  padding-left: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 26px;
}

header h2 {
    margin: 5px 0 0;
    font-size: 20px;
    color: #333;
}

.profile-img {
     width: 200px;  
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;   
    border: 3px solid #000; 
}

h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #222;
}

p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}

.education {
    margin-top: 10px;
    padding: 0;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
    margin: 0;
    padding: 0;
} 

.education-kiri {
    max-width: 70%;
}

.education-kanan {
    font-style: italic;
    margin-left: auto;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
}

li {
    margin: 5px 0;
    color: #000000;
}

a {
    color: #004466;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
